

.text-info {
    color: #31708f;
    font-family: serif;
    font-size: large;
}


#search{
  font-size: large;
  color: maroon;
  width: 15%;
}

#search input{
  background-image: url('https://www.iconsdb.com/icons/preview/orange/search-9-xxl.png');
  background-size: contain;
  padding: 0px 0px 0px 40px;
  background-repeat: no-repeat;
}

.img-rounded{
  border-radius: 75px;
}

ul{
  list-style-type: none;
}

.name {

  font-weight: 700;
  font-family: serif;
  color: olivedrab;
  font-size: 25px;
  cursor: pointer;
  font-style: oblique;
  
}

.name:hover {
  text-decoration: none;
  color: olivedrab;

}

.btn-info {
  color: #fff;
  background-color: peru;
  color: black;
  font-size: 14px;
  padding: 5px 5px 2px 5px;
  border: none;
}
.btn-info:hover{
  color: white;
  background-color: burlywood;
  border: 1px black;
}

.add button{
  cursor: pointer;
  border-radius: 20px;
  background-color: palevioletred;
  padding: 5px 3px 2px 2px;
  width: 130px;
  margin-left: 25px;
}