<p class="text-info">
  Thanks for shopping ar Angular Store<br />
  This is your shopping cart. Here you can edit the items, go back to the store or check out.<br /></p>
<p>

<div id="cart" class="container">

	<table id="list" class="table table-hover">
	  <thead>
		<tr>
			<th>Item</th>
			<th>Quantity</th>
			<th>Price</th>
		</tr>
	  </thead>
	</table>
	
	<div class="side_panel">
        <a href="#"><button id="b1" ><img src="https://cdn1.iconfinder.com/data/icons/arrows-4/512/arrow_18-512.png" height="25" width="25" /> Back to store</button></a><br>
        <button id="b2"><img src="https://cdn4.iconfinder.com/data/icons/devine_icons/Black/PNG/Folder%20and%20Places/Trash-Recyclebin-Empty-Closed.png" height="25" width="25" /> Clear cart</button>
    </div>
</div>